{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    {% for key, value in se.items() %}
      <p>
        <h3><a href="{{ url_for('editEmpl', id =  key) }}">{{ value['fname'] }} {{ value['lname'] }} </a></h3> <h4>Skills:</h4>
          <ul class="inline">
            {% for i in value['skills'] %}
             <li>{{ i }}</li>
            {% endfor %}
          </ul>
      </p>
      <p>
        <a href="{{ url_for('EmplSkill', eid = key) }}">Edit Skill for Employee</a>
      </p>
      <hr>
  {% endfor %}
  <hr>

{% endblock %}