{% extends "base.html" %}
{% block content %}
    {% for s in se %}
      <p>
        <h1><a href="{{ url_for('editEmpl', id =  s) }}">{{ se[s]['fname'] }}</a> </h1>{{ se[s]['lname'] }} has this skill: <div>1  {{ se[s]['skills'] }}</div> </h1>
{#        <a href="{{ url_for('EmplSkill', eid = s.eid) }}">Edit Skill for Employee</a>#}
      </p>
  {% endfor %}
  <hr>
{#  {% for post in posts %}#}
{#  <p>#}
{#    {{ post.author.nickname }} says: <b>{{ post.body }}</b>#}
{#  </p>#}
{#  {% endfor %}#}
{% endblock %}